body {
    font-family: Helvetica;
    font-size: 12px;
}

#board {
    display: flex;
    align-items: stretch;
}
#stats {
    margin-left: 20px;
    padding: 20px;
    background-color: #444;
    color: whitesmoke;
    flex: 1 1 auto;
    overflow-y: scroll;
    border-radius: 5px;
    max-height: 70vh;
}
#stats .row {
    display: flex;
    margin-bottom: 5px;
}
#stats .row .name {
    flex: 0 0 100px;
}
#stats .row .date {
    flex: 1 0 100px;
}
#app {
    height: 88vh;
    width: 88vh;
    padding: 20px;
    position: relative;
}
#app div {
    position: absolute;
    cursor: pointer;
    height: 10px;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

button.pause {
    color: #AAA;
}

#app div.checkpoint {
    background-color: rgba(100, 100, 100, .3);
    height: 16px;
    width: 16px;
    border-radius: 8px;
}
.bot {
    background-color: red;
    background-image: radial-gradient(circle 10px at 0 0, rgba(100,50,0,0), rgba(0,0,0,0), rgba(100,0,0,.8)), radial-gradient(circle 10px at 5px 5px, rgba(255,255,255,.7), rgba(100,50,0,0));
    background-repeat: no-repeat, no-repeat;
    position:relative;
}
.bot:after {
    content: "";
    z-index: -1;
    top: 7px;
    left: 6px;
    position: absolute;
    background-color: rgba(100, 100, 100, 0.4);
    border-radius: 5px;
    width: 1px;
    height: 1px;
    box-shadow: 2px 1px 7px 3px rgba(100, 100, 100, 1);
    opacity: .8;
}
.obstacle {
    background-color: blue;
    background-image: radial-gradient(circle 10px at 0 0, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,.8)), radial-gradient(circle 10px at 5px 5px, rgba(255,255,255,.7), rgba(0,0,0,0));
    background-repeat: no-repeat, no-repeat;
    position:relative;
}
.obstacle:after {
    content: "";
    z-index: -1;
    top: 7px;
    left: 6px;
    position: absolute;
    background-color: rgba(100, 100, 100, 0.4);
    border-radius: 5px;
    width: 1px;
    height: 1px;
    box-shadow: 2px 1px 7px 3px rgba(100, 100, 100, 1);
    opacity: .8;
}
.move {
    background-color: yellow;
}
.actions {
    display: flex;
}

#direction {
    flex: 0 0 200px;
    text-align: right;
}